# Compilation temporaries and binaries
Release/
Debug/
*.ipdb
*.iobj
*.ipdb
*.aps
*.opensdf
*.sdf
*.suo
*.exp
*.pdb
*.lib
*.ods#

*.dll
*.exe
*.nupkg

# Visual Studio temporaries
ipch/
*.VC.opendb
*.VC.db
*.lastcodeanalysissucceeded
.vs/
Bin/

# Cpp Check
winmute-cppcheck-build-dir/
